@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     @if(User.Identity.IsAuthenticated){
        <span>Bienvenido: @User.Identity.Name</span>        
    }
    <h1 class="display-4">Bienvenido al hospital en casa</h1>
    <p class="lead">Hospital en casa es una aplicación para la gestión de pacientes que se recuperan de Covid en casa</p>
</div>
