<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital en casa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.min.js" integrity=""></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">HospitalEnCasa</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Gestionar médicos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Medicos/ListMedicos">Listar médicos</a>

                                    <a class="dropdown-item" href="/Medicos/AddMedico">Agregar médico</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Citas/ListCita">Gestionar citas</a>
                                </div>
                            </li>
                            @if(User.IsInRole("Admin")){
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Enfermeras/ListEnfermera">Gestionar
                                        enfermeras</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Familiares/ListFamiliar">Gestionar
                                        Familiares</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Pacientes/ListPaciente">Gestionar
                                        Pacientes</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated && (User.IsInRole("Medico") || User.IsInRole("Enfermera")))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Anotacion/ListAnotacion">Gestionar
                                        Anotaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Historia/ListHistoria">Gestionar
                                        Historias</a>
                                </li>
                            }
                            @if(User.IsInRole("Paciente")){
                                 <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Historia/DetailHistoriaByUser" asp-route-username=@User.Identity.Name>Mi historia clínica</a>
                                </li>                               
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="btn btn-primary">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/Identity/Account/Login" class="btn btn-primary">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Los matadores del software - <a asp-area="" asp-page="/Privacy">Privacidad</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
