@page
@model HospitalEnCasa.App.FrontEnd.Pages.AddAnotacionModel
@{
}
<h1>Añadir anotación</h1>
<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="cedulaPaciente" class="form-control">Paciente</label>
        <select class="form-control" asp-for="cedulaPaciente" asp-items="@Model.pacientes"></select>
        <span class="text-danger" asp-validation-for="cedulaPaciente"></span>
    </div>
    <div class="form-group row">
        <label asp-for="cedulaMedico" class="form-control">Médico</label>
        <select class="form-control" asp-for="cedulaMedico" asp-items="@Model.medicos"></select>
        <span class="text-danger" asp-validation-for="cedulaMedico"></span>
    </div>
    <div class="form-group row">
        <label asp-for="cedulaEnfermera" class="form-control">Enfermera</label>
        <select class="form-control" asp-for="cedulaEnfermera" asp-items="@Model.enfermeras"></select>
        <span class="text-danger" asp-validation-for="cedulaEnfermera"></span>
    </div>
    <div class="form-group row">
        <label asp-for="anotacion.fecha" class="form-control">Fecha</label>
        <input asp-for="anotacion.fecha" class="form-control" value="Datetime.now">
        <span class="text-danger" asp-validation-for="anotacion.fecha"></span>
    </div> 
    <div class="form-group row">
        <label asp-for="anotacion.descripcion" class="form-control">Descripción</label>
        <input asp-for="anotacion.descripcion" class="form-control">
        <span asp-validation-for="anotacion.descripcion" class="text-danger"></span>
    </div> 
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-page="./ListAnotacion" class="btn btn-primary">Cancelar</a>
</form>