@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al hospital en casa @User.Identity.Name</h1>
    <p class="lead text-center">Una estrategia contra el covid</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(User.Identity.IsAuthenticated && User.IsInRole("Medico")){
        <h1>Soy un medico</h1>
    }
</div>
