@page
@model HospitalEnCasa.App.FrontEnd.Pages.AddHorarioModel
@{
}
<h1>Añadir horario</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="CedulaMedico" class="form-control">Medico</label>
        <select class="form-control" asp-for="CedulaMedico" asp-items="@Model.Medicos"></select>
    </div>
    <div class="form-group row">
        <label asp-for="Horario.Dia" class="form-control">Día</label>
        <select class="form-control" asp-for="Horario.Dia" asp-items="Html.GetEnumSelectList<System.DayOfWeek>()"></select>
    </div>
    <div class="form-group row">
        <label asp-for="Horario.Hora_Inicio" class="form-control">Hora inicio</label>
        <input asp-for="Horario.Hora_Inicio" class="form-control" >
        <span asp-validation-for="Horario.Hora_Inicio" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Horario.Hora_Final" class="col-sm-2">Hora final</label>
        <input asp-for="Horario.Hora_Final" class="form-control">
        <span asp-validation-for="Horario.Hora_Final" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-primary" asp-page="./ListHorario"></a>
</form>