.sp_DJsPB9sVF_5{background-image:url(/rsrc.php/v3/yn/r/zkJxeKqVSDK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_DJsPB9sVF_5.sx_24c8ef{background-position:0 0}.sp_DJsPB9sVF_5.sx_a9c1f0{background-position:0 -21px}

#bootloader_b0dvH{height:42px;}.bootloader_b0dvH{display:block!important;}