@page
@model HospitalEnCasa.App.FrontEnd.Pages.RemoveEnfermeraModel
@{
}
<h1>Confirmación</h1>
<p>¿Realmente desea eliminar a la enfermera @Model.enfermera.nombre?</p>
<form method="post" class="mt-3">
    <input hidden asp-for="cedula">
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Sí</button>
        <a asp-page="./ListEnfermera" class="btn btn-primary">No</a>
    </div>    
</form>